.footer {
  background-color: #343a40;
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  height: 60px;
  padding: 10px;
  font-size: 0.9em;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
